{% extends 'dashboard_template.html' %}
{% block main %}
    {% load static %}
    <html>
    <link rel="stylesheet" href="{% static 'css/styles_create.css' %}">
    </html>
    <body>
    <div class="modal-body p-5 pt-0">
        <form method="post">
            {% csrf_token %}
            <h3> Are you sure?</h3>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a type="button" class="btn btn-secondary" href="{% url 'permission_group_list' %}">Cancel</a>
            </div>
        </form>
    </div>
    </body>

{% endblock %}