<!-- Filter OffCanvas -->
<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="filterOffCanvas"
     aria-labelledby="filterOffCanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title px-3" id="filterOffCanvasLabel">Filters <i class="fa-solid fa-filter"></i></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="pb-2 px-3">
            <h4>Companies</h4>
            <ul class="list-group border-0">
                <li class="list-group-item border-0">
                    <div class="form-check">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        <label class="form-check-label">
                            Portfolio Companies
                        </label>
                    </div>
                </li>
                <li class="list-group-item border-0">
                    <div class="form-check">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        <label class="form-check-label">
                            Investors
                        </label>
                    </div>
                </li>
            </ul>
        </div>

        <div class="pb-2 px-3">
            <h4>Individuals</h4>
            <ul class="list-group border-0">
                <li class="list-group-item border-0">
                    <div class="form-check">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        <label class="form-check-label">
                            Founders
                        </label>
                    </div>
                </li>
                <li class="list-group-item border-0">
                    <div class="form-check">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        <label class="form-check-label">
                            Investors
                        </label>
                    </div>
                </li>
                <li class="list-group-item border-0">
                    <div class="form-check">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        <label class="form-check-label">
                            Coaches
                        </label>
                    </div>
                </li>
                <li class="list-group-item border-0">
                    <div class="form-check">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        <label class="form-check-label">
                            Mentors
                        </label>
                    </div>
                </li>
            </ul>
        </div>

        <div class="container-fluid ">
            <div class="row align-items-center">
                <button class="btn btn-primary px-3 w-auto">Apply</button>
            </div>
        </div>


    </div>
</div>