<!-- change password -->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 mx-5">
            <form class="mb-2" action="{% url 'change_password' %}" method="post">
                {% csrf_token %}
                <div class="bg-secondary-soft rounded mb-3">
                    <div class="row g-3">
                        <div class="mb-3">
                            <h5 class="mb-0">Change Password</h5>
                        </div>
                        <!-- Old password -->
                        <div class="col-md-6">
                            {% include 'partials/utilities/settings_form_input.html' with field=form.old_password %}
                        </div>
                        <!-- New password -->
                        <div class="col-md-6">
                            {% include 'partials/utilities/settings_form_input.html' with field=form.new_password %}
                        </div>
                        <!-- Confirm password -->
                        <div class="col-md-12">
                            {% include 'partials/utilities/settings_form_input.html' with field=form.confirm_password %}
                        </div>
                    </div>
                </div>
                <div class="text-end">
                    <button type="submit" class="btn btn-sm btn-primary">Save</button>
                </div>
            </form>

            <hr class="my-3"/>

        </div>
    </div>
</div>