{% extends 'dashboard_template.html' %}
{% block main %}
    {% load static %}


    <h1>Delete Investment</h1>
    <p class="individual_delete">Are you sure you want to delete this investment record?</p>
    <form action="{% url 'investment_delete' investment_id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Submit" class="btn btn-primary">
        <a href="{% url 'portfolio_company' company_id %}" class="btn btn-secondary">Cancel</a>
    </form>

{% endblock %}