{% load static %}


<div class="col-xl-4 col-md-6 mb-3" id="companycard">
    <a href="{% url 'portfolio_company' company.id %}" class="text-reset text-decoration-none">

        <div class="card h-100 p-3">
            <div class="d-flex w-30 justify-content-between mb-2 align-items-center">
                <div>
                    <div>Company</div>
                    <div class="d-flex align-items-baseline align-items-baseline">

                        <h5 class="mr-1">{{ company.name }}</h5>
                    </div>
                </div>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item mb-2 mt-2">
                    <h6>Address</h6>
                    <h7>{{ company.registered_address }}</h7>
                </li>
                <li class="list-group-item my-2">
                    <div class="col">
                        <h6>Incorporation Date</h6>
                        <h7>{{ company.incorporation_date }}</h7>
                    </div>
                </li>
                <li class="list-group-item my-2">
                    <h6>Jurisdiction</h6>
                    <h7>{{ company.jurisdiction }}</h7>
                </li>
            </ul>
        </div>
    </a>
</div>

