form p {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

form input[type="text"], form textarea {
    font-size: 18px;
    margin-left: 20px;
    width: 50%;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

form input[type="submit"] {
    font-size: 18px;
    font-weight: 800;
    color: #e1e1e1;
    font-family: inherit;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

form input[type="submit"]:focus,
form input[type="submit"]:hover {
    color: #fff;
}

form input[type="submit"]:focus:after,
form input[type="submit"]:hover:after {
    width: 100%;
    left: 0%;
}

form input[type="submit"]:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}