
<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="individual-card mx-1 mb-3 border" style="height:90%">
        <div class="individual-card-info">
            <div class="individual-card-avatar"></div>
            <a class="individual-card-title text-decoration-none" href="{% url 'portfolio_company' company.id %}">{{company.name}}</a>
            <div class="individual-card-subtitle">Company</div>
        </div>
{#        <ul class="individual-card-social">#}
{#            <li class="individual-card-social__item">#}
{#                <a href="mailto: {{company.}}" class="text-decoration-none"><i class="fa-regular fa-envelope text-dark"></i></a>#}
{#            </li>#}
{#            <li class="individual-card-social__item">#}
{#                <a href="{{individual.LinkedInLink}}" class="text-decoration-none"><i class="fa-brands fa-linkedin-in text-dark"></i></a>#}
{#            </li>#}
{#            <li class="individual-card-social__item">#}
{#                <a href="tel: {{Individual.PrimaryNumber}}" class="text-decoration-none"><i class="fa-solid fa-phone text-dark"></i></a>#}
{#            </li>#}
{#        </ul>#}
    </div>
</div>