{% load widget_tweaks %}
<div class="mb-4">
    {% for field in form %}
        <div class="mb-3">
            {{ field.label_tag }}
            {% if form.is_bound %}
                {% if field.errors %}
                    {% if field.field.widget.input_type == "checkbox" %}
                        {% render_field field class="form-check" %}
                    {% else %}
                        {% render_field field class="form-control is-invalid" %}
                    {% endif %}
                {% else %}
                    {% if field.field.widget.input_type == "checkbox" %}
                        {% render_field field class="form-check" %}
                    {% else %}
                        {% render_field field class="form-control is-valid" %}
                    {% endif %}
                {% endif %}
            {% else %}
                {% if field.field.widget.input_type == "select" %}
                    {% render_field field class="form-select" %}
                {% elif field.field.widget.input_type == "checkbox" %}
                    {% render_field field class="form-check" %}
                {% else %}
                    {% render_field field class="form-control" %}
                {% endif %}
            {% endif %}
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                {{ field.errors }}
            </div>
        </div>
    {% endfor %}
</div>