{% load static %}
<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-4" id="companycard">
            {% if programme.cover %}
                <img src="{{ programme.cover.url }}" class="card-img border m-3" alt="..." style="border-radius: 1rem;">
            {% else %}
                <img src="" class="card-img" alt="...">
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="card-body vstack">
                <h5 class="card-title">{{programme.name}}</h5>
                <p class="card-text">
                    {{ programme.description }}
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>