<button class="btn-cssbuttons">
    <span>Contact</span>
    <ul>
        <li>
            <a href="{{ individual.CrunchbaseLink }}" class="text-decoration-none"><i
                    class="fa-sharp fa-solid fa-c text-light" ></i></a>
        </li>
        <li>
            <a href="{{ individual.LinkedInLink }}" class="text-decoration-none"><i
                    class="fa-brands fa-linkedin-in text-light"></i></a>
        </li>
        <li>
            <a href="{{ individual.AngelListLink }}/" class="text-decoration-none"><i
                    class="fa-brands fa-angellist text-light"></i></a>
        </li>
    </ul>
</button>