{% load util %}
{% load static %}
<tr>
    <td class="clickable-cell" data-href="{% url 'individual_profile' individual.id %}">
        <div class="d-flex align-items-center">
            <div class="individual-card-avatar " style="width: 45px; height: 45px"></div>

            <div class="ms-3">
                <p class="fw-bold mb-1">{{ individual.name }}</p>
            </div>
        </div>
    </td>
    <td class="clickable-cell" data-href="{% url 'individual_profile' individual.id %}">
        <p class="fw-normal mb-1">{{ individual.Company }}</p>
    </td>
    <td class="clickable-cell" data-href="{% url 'individual_profile' individual.id %}">
        <span class="fw-normal mb-1">{{ individual.Position }}</span>
    </td>
    <td class="clickable-cell" data-href="{% url 'individual_profile' individual.id %}">
        {{ individual.Email }}
    </td>
    <td>
        <a type="button" class="btn btn-light btn-sm btn-rounded text-success"
           href="{% url 'individual_profile' individual.id %}">
            <i class="fa-sharp fa-solid fa-inbox"></i>
            View
        </a>
    </td>
</tr>


<script>
    var cells = document.querySelectorAll('.clickable-cell');

    for (var i = 0; i < cells.length; i++) {
        cells[i].onclick = function () {
            var href = this.getAttribute('data-href');
            window.location.href = href;
        }
    }

</script>