<div class="container-fluid ">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h5 style="font-size: 1.6rem; font-weight: bold;">Details</h5>
            <ul class="list-group list-group-flush border">
                <li class="list-group-item mb-2 mt-2">
                    <div class="col">
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <div class="individual-card-avatar  me-3" style="width: 45px; height: 45px;"></div> 
                                <div class="col">
                                    <h7 class="text-secondary">Name</h7 class="text-secondary">
                                    <h5>{{ individual.name }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item my-2">
                    <div class="col">
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <div class="individual-card-avatar  me-3" style="width: 45px; height: 45px;"></div> 
                                <div class="col">
                                    <h7 class="text-secondary">Position</h7 class="text-secondary">
                                    <h5>{{ individual.Position }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item my-2">
                    <div class="col">
                        <div class="col">
                            <div class="container-fluid">
                                <div class="row align-items-center">
                                    <div class="individual-card-avatar  me-3" style="width: 45px; height: 45px;"></div> 
                                    <div class="col">
                                        <h7 class="text-secondary">Company</h7 class="text-secondary">
                                        <h5>{{ individual.Company }}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item my-2">
                    <div class="col">
                        <div class="col">
                            <div class="container-fluid">
                                <div class="row align-items-center">
                                    <div class="individual-card-avatar  me-3" style="width: 45px; height: 45px;"></div> 
                                    <div class="col">
                                        <h7 class="text-secondary">Email</h7 class="text-secondary">
                                        <h5>{{ individual.Email }}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item my-2">
                    <div class="col">
                        <div class="col">
                            <div class="container-fluid">
                                <div class="row align-items-center">
                                    <div class="individual-card-avatar  me-3" style="width: 45px; height: 45px;"></div> 
                                    <div class="col">
                                        <h7 class="text-secondary">Phone Number</h7 class="text-secondary">
                                        <h5>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                class="bi bi-telephone" viewBox="0 0 16 16">
                                                <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                                            </svg>
                                            {{ individual.PrimaryNumber.as_international }}
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item my-2">
                    <div class="col">
                        <div class="col">
                            <div class="container-fluid">
                                <div class="row align-items-center">
                                    <div class="individual-card-avatar  me-3" style="width: 45px; height: 45px;"></div> 
                                    <div class="col">
                                        <h7 class="text-secondary">Secondary Number</h7 class="text-secondary">
                                        <h5>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                class="bi bi-telephone" viewBox="0 0 16 16">
                                                <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                                            </svg>
                                            {{ individual.SecondaryNumber.as_international }}
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <!-- <a href="{% url 'individual_profile' individual.id %}" class="text-reset">
                <div style="background-color: #fff; border-radius: 15px; overflow: hidden; display: flex; flex-direction: column; align-items: center;">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                         alt="Profile Picture" class="img-fluid profile-picture rounded-circle my-3">
                </div>
            </a> -->
            <!-- <div class="dropdown">
                <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    Links
                </a>

                <ul class="dropdown-menu">
                    <li class="dropdown-item"><a href="{{ individual.LinkedInLink }}">LinkedIn</a></li>
                    <li class="dropdown-item"><a href="{{ individual.CrunchbaseLink }}">Crunchbase</a></li>
                    <li class="dropdown-item"><a href="{{ individual.AngelListLink }}">AngelList</a></li>
                </ul>
            </div> -->
            <div class="vstack pt-4 w-100">
                <div class="col-md-6 col-xl-6 mb-2 py-3 w-100">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-6 w-100">
                                    <h5 class="text-secondary" class="text-muted fw-normal mt-0 text-wrap" title="Active Projects">LinkedIn</h5>
                                    <a class="link_button p-3 text-decoration-none text-white" href="{{ individual.LinkedInLink }}">
                                        Visit
                                        <div class="arrow-wrapper">
                                            <div class="arrow"></div>
                                    
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-6 mb-2 py-3 w-100">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-6 w-100">
                                    <h5 class="text-secondary" class="text-muted fw-normal mt-0 text-wrap" title="Active Projects">Crunchbase</h5>
                                    <a class="link_button p-3 text-decoration-none text-white" href="{{ individual.CrunchbaseLink }}">
                                        Visit
                                        <div class="arrow-wrapper">
                                            <div class="arrow"></div>
                                    
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-6 mb-2 py-3 w-100">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-6 w-100">
                                    <h5 class="text-secondary" class="text-muted fw-normal mt-0 text-wrap" title="Active Projects">AngelList</h5>
                                    <a class="link_button p-3 text-decoration-none text-white" href="{{ individual.AngelListLink }}">
                                        Visit
                                        <div class="arrow-wrapper">
                                            <div class="arrow"></div>
                                    
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



